@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1rem;
}

label {
  padding-top: 1rem;
}

li {
  margin-left: 2rem;
}

ul {
  list-style-type: disc;
}

.banner {
  background-image: url("../../public/towfiqu-barbhuiya--9gPKrsbGmc-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
}

.basic-input {
  width: 30%;
}

.c-btn:hover {
  background-color: rgb(127, 182, 248);
  color: white;
}

.company {
  font-size: 5em;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.contact-btn {
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(127, 182, 248);
  color: white;
  width: 10rem;
  padding: .4rem;
  margin: auto;
}

.contact-btn:hover {
  border: 1px solid rgb(127, 182, 248);
  background-color: white;
  color: black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.contact-message {
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1rem;
}

.crew-pic {
  background-image: url("../../public/philip-myrtorp-osuaUc0LMMM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
  width: 20rem;
  color: white;
}

.room-select {
  border: 1px solid black;
  border-radius: 10px;
  width: 3rem;
  text-align: center;
}

.sqft {
  width: 10%;
}